<div id="activeComponent">
  <router-outlet></router-outlet>
</div>
<div class="d-flex" id="wrapper">
  <div class="bg-light border-right" id="sidebar-wrapper" style="position:fixed; top: 60px;">
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action bg-light" routerLink="/map">Show Map</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="/postFeed">Post Feed</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="/newPost">Add
        Post</a>
    </div>
  </div>
</div>