<div class="row">
    <div *ngIf="user.picture">
        <img [src]="user.picture" style="width: 300px; padding: 10px; margin-left: 20px;" />
    </div>
    <div style="padding: 10px">
        <blockquote>
            <h5>{{user.firstName}} {{user.lastName}}</h5>
            <small><cite title="Source Title">{{user.address}}<i class="icon-map-marker"></i></cite></small>
        </blockquote>
        <p>
            {{user.job}}
            <br>
            {{user.birthDate |date:'longDate'}}
        </p>
    </div>
</div>

