<div>
    <div class="table-filter">
        <div class="row">
            <div class="col-sm-12">
                <span class="filter-icon">
                    <fa-icon [icon]="faFilter" style="color: rgb(107, 0, 98);"></fa-icon>
                </span>
                <div class="filter-group">
                    <label>From date</label>
                    <input type="date" class="form-control" [(ngModel)]="minDate">
                </div>
                <div class="filter-group">
                    <label>To date</label>
                    <input type="date" class="form-control" [(ngModel)]="maxDate">
                </div>
                <div class="filter-group">
                    <label>Posted by</label>
                    <select class="form-control" [(ngModel)]="userId">
                        <option value="0">All users</option>
                        <option *ngFor="let user of users" [value]="user.userId">{{user.firstName}} {{user.lastName}}</option>
                    </select>
                </div>
                <div class="filter-group">
                    <label>Tag</label>
                    <input [(ngModel)]="tag" type="text" class="form-control" style="width: 150px;">
                </div>
                <button type="button" class="btn btn-primary" style="float: right"
                (click)="newFilter()">Filter</button>
            </div>
        </div>
    </div>
    <span style="color: blue;">Search: Center GPS latitude: {{latGps.toFixed(4)}} | 
            Center GPS longitude: {{longGps.toFixed(4)}} | Radius: {{range.toFixed(2)}} km || Total posts found: {{markers.length}}</span>
    <div #mapContainer id="map"></div>
</div>