<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<div class="list">
  <input (input)="searchBox($event.target.value)"/>
  <button (click)="searchUsers()">Search User</button>
  <div *ngFor="let user of users; index as i">
      <a href="#" id = {{i}} (click)="showUserDetail($event)">{{user.Id + " - " + user.FirstName + " " + user.LastName +"\n"}}</a>
  </div>
  <div *ngIf="user" class="container">
    <div class="row">
      <div *ngIf="user.Picture" class="col-md-3 img">
        <img [src]="imageurl" style="width: 100%"/>
      </div>
      <div class="col-md-6 details">
        <blockquote>
          <h5>{{user.FirstName}} {{user.LastName}}</h5>
          <small><cite title="Source Title">{{user.Address}}<i class="icon-map-marker"></i></cite></small>
        </blockquote>
        <p>
          {{user.Job}}
          <br>
          {{birthDateStr}}
        </p>
      </div>
    </div>
  </div>