 
.list{
  width: 100%;
  margin-left: 30px;
  margin-top: 20px;
  }
small {
display: block;
line-height: 1.428571429;
color: #999;
} 
.container{
  position: fixed;
  top:100px;
  left: 300px;
}
/* .container .img{
  text-align:center;
} */
.container .details{
  border-left:3px solid #ded4da;
}
.container .details p{
  font-size:15px;
  font-weight:bold;
}