<div class="container" *ngIf="!isMap">

  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Create new Post</h4>
      <hr>
      <form>
        <div class="input-group">
          <div class="form-group">
            <span class="input-group-text" id="inputGroupFileAddon01">
              <fa-icon [icon]="faCamera"></fa-icon>
            </span>

          </div>
          <div class="custom-file">
            <input #file type="file" class="custom-file-input" id="inputGroupFile01"
              aria-describedby="inputGroupFileAddon01" accept='image/*' (change)="preview(file.files)" />
            <label class="custom-file-label" for="inputGroupFile01" *ngIf="!imagePath">Choose picture</label>
            <label class="custom-file-label" for="inputGroupFile01" *ngIf="imagePath">{{imagePath[0].name}}</label>
            <label class="custom-file-label" style="color:red" for="inputGroupFile01"
              *ngIf="message">{{message}}</label>
          </div>

          <div class="form-group input-group">
            <textarea id="description" name="postText" [(ngModel)]="post.description" matInput placeholder="Enter post description..."
              style="width: 370px;"></textarea>
          </div>
        </div>
        <button id="btnPublish" class="btn btn-primary btn-block" (click)="chooseLocation()">Change post location</button>
        <br>
        <div class="form-group">
          <button id="btnPublish" type="submit" class="btn btn-primary btn-block" (click)="onUpload()" [disabled]="!post.picture"> Publish post
          </button>
        </div>
        <div class="form-group">
          <button id="btnCancel" type="button" class="btn btn-primary btn-block" (click)="onCancel()" [disabled]="!post.picture"> Cancel
          </button>
        </div>
      </form>
      <h4 id="uploadMassage">{{uploadMassage}}</h4>
      <img *ngIf="post.picture" id="previewImage" [src]="post.picture" width="360">
    </article>
  </div> <!-- card.// -->
</div>
<app-choose-location-map *ngIf="isMap" (childEvent)="isMap=$event.map; post.latGPS=$event.lat; 
post.longGPS=$event.long; locationChanged=$event.changed"></app-choose-location-map>