.post-image{
  width: 450px;
  /* margin: 5px; */
  margin-top: 5px;
  margin-bottom: 5px;
    }
  .user-image{
    width: 50px;
    border: 3px inset rgba(96, 74, 218, 0.77);
    border-radius: 40px;
    margin: 5px;
  }
  .link{
    margin: 5px;
  }
  .post-container{
    /* margin-bottom: 50px; */
    /* border: 15px double rgba(0, 9, 141, 0.3);
    border-radius: 40px; */
    background-color: whitesmoke;
    padding: 10px;
  }
  .comment-container{
    /* border: 10px double rgba(0, 9, 141, 0.3); */
    background-color: whitesmoke;
    /* border-radius: 40px; */
    padding: 10px;
    margin: 5px;
  }
  .date-field{
    color: gray;
  }
  #comment-input{
    position: relative;
    width: 100%;  
}

  app-post-likes {
    left: 200px;
  }

  .button-like {
    color: blue;
    font-size: 1.2em;
    border-radius: 12px;
    border-width: 1px;
}