<div class="container">

	<div class="card bg-light">
		<article class="card-body mx-auto" style="max-width: 400px;">
			<h4 class="card-title mt-3 text-center">Create Account</h4>
			<p class="text-center">Get started with your free account</p>
			<p>
				<a href="" class="btn btn-block btn-twitter">
					<fa-icon [icon]="faTwitter"></fa-icon>   Login via Twitter
				</a>
				<a href="" class="btn btn-block btn-facebook">
					<fa-icon [icon]="faFacebook"></fa-icon>   Login via facebook
				</a>
			</p>
			<p class="divider-text">
				<span class="bg-light">OR</span>
			</p>
			<form (ngSubmit)="onSubmit()" #newUserForm="ngForm">
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<fa-icon [icon]="faUser"></fa-icon>
						</span>
					</div>
					<input id ="firstName" name="firstName" [(ngModel)]="user.firstName" class="form-control" placeholder="First name"
						type="text" #firstName="ngModel" required>
					<input name="lastName" [(ngModel)]="user.lastName" class="form-control" placeholder="Last name"
						type="text" #lastName="ngModel" required>
				</div> <!-- form-group// -->
				<div [hidden]="(firstName.valid || firstName.pristine) && (lastName.valid || lastName.pristine)" class="alert alert-danger">
					First and Last names are required
				</div>
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<fa-icon [icon]="faEmail"></fa-icon>
						</span>
					</div>
					<input id ="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" aria-describedby="emailHelp"
						placeholder="Email address" type="email" required email>
				</div>
				<div [hidden]="email.valid || email.pristine" class="alert alert-danger">
					Need a valid Email address
				</div>
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<fa-icon [icon]="faHome"></fa-icon>
						</span>
					</div>
					<input name="address" [(ngModel)]="user.address" class="form-control" placeholder="Home address"
						type="text">
				</div>
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<fa-icon [icon]="faBirthDate"></fa-icon>- Birth date:
						</span>
					</div>
					<input name="birthDate" [(ngModel)]="user.birthDate" class="form-control" type="date">
				</div>
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<fa-icon [icon]="faJob"></fa-icon>
						</span>
					</div>
					<select id="job" name="job" #job="ngModel" [(ngModel)]="user.job" class="form-control">
						<option value="">Select a job</option>
						\ <option *ngFor="let job of jobs" [value]="job">{{job}}</option>
					</select>
				</div> <!-- form-group end.// -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<fa-icon [icon]="faPassword"></fa-icon>
						</span>
					</div>
					<input id="password1" name="password1" #password1="ngModel" [(ngModel)]="user.password" class="form-control"
						placeholder="Create password" type="password" required>
						<!-- (keyup)="passwordTyped()"> -->
				</div> <!-- form-group// -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<fa-icon [icon]="faPassword"></fa-icon>
						</span>
					</div>
					<input id="password2" name="password2" #password2="ngModel" [(ngModel)]="passwordConfirm" class="form-control"
						placeholder="Repeat password" type="password" required>
						<!-- (keyup)="passwordTyped()" #spy> -->
				</div> <!-- form-group// -->
				<div [hidden]="password1.pristine || password2.pristine || (password1.value==password2.value)" class="alert alert-danger">
					Password are not the same
				</div>
				<!-- <small id="passwordA">Password are not the same</small> -->

				<div class="form-group">
					<button id="btnCreate" type="submit" class="btn btn-primary btn-block" [disabled]="!newUserForm.form.valid || !(password1.value==password2.value)"> 
						Create Account
					</button>
				</div> <!-- form-group// -->
			</form>

			<p class="text-center">
				Have an account? <a href=# (click)="user_LogIn()">Log In</a> </p>
		</article>
	</div> <!-- card.// -->
</div>