<div class="container">

    <div class="card bg-light">
      <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Change Password</h4>
        <hr>
        <form (ngSubmit)="onSubmit()" #changePassword="ngForm">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <fa-icon [icon]="faPassword"></fa-icon>
                    </span>
                </div>
                <input id="password1" name="password1" #password1="ngModel" [(ngModel)]="password"class="form-control"
                    placeholder="New password" type="password" (keyup)="inputChange()" required>
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <fa-icon [icon]="faPassword"></fa-icon>
                    </span>
                </div>
                <input id="password2" name="password2" #password2="ngModel" [(ngModel)]="passwordConfirm" class="form-control"
                    placeholder="Confirm password" type="password" (keyup)="inputChange()" required>
            </div> <!-- form-group// -->
            <div [hidden]="password1.pristine || password2.pristine || (password1.value==password2.value)" class="alert alert-danger">
                Password are not the same
            </div>

            <div class="form-group">
                <button id="btnCreate" type="submit" class="btn btn-primary btn-block" [disabled]="!changePassword.form.valid || !(password1.value==password2.value)"> 
                    Change Password
                </button>
            </div> <!-- form-group// -->
        </form>
        <h4 id="uploadMassage">{{massage}}</h4>
      </article>
    </div>
  </div>
