<div style="top:60px; position:absolute; width: 100%" >
    <div id="activeComponent" *ngIf="userServ.logedUser!=null">
        <router-outlet *ngIf="userServ.logedUser!=null"></router-outlet>
    </div>
    <div id="activeComponent" *ngIf="userServ.logedUser==null" style="left: 5px;">
        <router-outlet *ngIf="userServ.logedUser==null"></router-outlet>
    </div>
    <app-side-bar *ngIf="userServ.logedUser!=null"></app-side-bar>
</div>

<app-nav-bar></app-nav-bar>

<!-- <app-choose-location-map></app-choose-location-map> -->
